<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" data-controller="display">

      <%= f.input :role,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Rôle" },
                  collection: User::ROLE,
                  input_html: { data: { display_target: "role", action: "change->display#displayForm" } } %>
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Prénom" } %>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Nom" } %>
      <%= f.input :phone_number,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Numéro de téléphone" } %>
      <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Adresse" } %>
      <%= f.input :company_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Société" } %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    <div class="d-none" data-display-target= "freelancer">
      <%= f.input :siret,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Numero de siret" } %>
      <%= f.input :description,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "décrivez votre parcours" } %>
      <%= f.input :number_of_projects,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Nombre de projets réalisés" } %>
      <%= f.input :skills,
                   required: true,
                   autofocus: true,
                   input_html: { autocomplete: "Skills" } %>
      <%= f.input :year_exp,
                   required: true,
                   autofocus: true,
                   input_html: { autocomplete: "Nombre d'années d'experience" } %>

    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= link_to "Accueil", root_path %>

<%= render "devise/shared/links" %>
