<div class="freelancer-card">
  <div class="firstinfo">
    <%= cl_image_tag current_user.photo.key, height: 150, width: 150, crop: :fill %>
    <div class="profileinfo">
      <h1>Welcome
        <%= current_user.first_name %>
        <%= current_user.last_name %>
      </h1>
      <p class="bio"><%= current_user.description %></p>
      <% if current_user.year_exp <= 1 %>
        <p class="experience">{<strong><%= current_user.year_exp %></strong> year of experience  <strong>  +<%= current_user.number_of_projects %></strong> completed projects}</p>
      <% else %>
        <p class="experience">{<strong><%= current_user.year_exp %></strong> years of experience  <strong>  +<%= current_user.number_of_projects %></strong> completed projects}</p>
      <% end %>
    </div>
  </div>
</div>
<div class="badgescard">
  <% current_user.skills.each do |skill|%>
    <% if skill == 'react' %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="40"/>
    <% else %>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/<%= skill %>/<%= skill %>-plain.svg" width="40" />
    <% end %>
  <% end %>
</div>


<div class="free-projects">
  <h3>If you were honest when you subscribed on passengers, you will find suitables projects for you, <strong>click now !</strong></h3>
  <%= link_to "Find new projects", projects_path, class:"bouton-large" %>
</div>

<div class="collaborations-container">
  <div class="dashboard-div">
    <h2>My Collaborations</h2>
  </div>

  <div class="collaborations">
    <% if @collaborations.each do |collaboration| %>
      <% if collaboration.status == 'pending' %>
        <div class="collaboration-pending">
          <div class="project-name"><%= collaboration.project.title.capitalize %></div>
          <div class="title"><%= collaboration.title.capitalize %></div>
          <div class="price"><%= collaboration.total_price %>€</div>
          <div class="status"><%= collaboration.status.capitalize %></div>
        </div>
      <% else %>
        <div class="collaboration-accepted">
          <div class="project-name"><%= collaboration.project.title.capitalize %></div>
          <div class="title"><%= collaboration.title.capitalize %></div>
          <div class="price"><%= collaboration.total_price %>€</div>
          <div class="status"><%= collaboration.status.capitalize %></div>
        </div>
      <% end %>
    <% end.empty? %>
      <p>You have not send any quotes yet! It's time to seek your futur project, click on the link above!</p>
    <% end %>
  </div>
</div>
