<div class="d-flex"><h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1></div>
<% @projects.each do |project| %>
  <div class="free-card">
      <p><%= project.title %></p>
      <p><%= project.description %></p>
      <%= link_to "Delete Project", project_path(project), data: {turbo_method: :delete} %>
  </div>
<% end %>
<%= link_to "Submit New Project", new_project_path%>



