<div class="d-flex"><h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1></div>
<div class="container">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="carte-project">
        <div class="carte-content">
          <h2><%= project.title %></h2>
          <p><%= project.description %></p>
          <p>Project proposed by <%= project.user.first_name %></p>
        </div>
        <%= link_to project_path(project), data: {turbo_method: :delete} do %>
          <i class="fa-regular fa-trash-can" id="poubelle"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="plus">
    <%= link_to new_project_path do %>
      <i class="fa-solid fa-circle-plus" id="add-project"></i>
    <% end %>
  </div>
</div>
