<div class="collaborations-customer">
  <div class="dashboard-div">
    <h2>My Quotes</h3>
  </div>
  
    <% if @collaborations.each do |collaboration| %>
      <div class="collabs">        
        <div class="user-full-name">
          <%= collaboration.user.first_name %>
          <%= collaboration.user.last_name %>
        </div>
        <div class="collab-title"><%= collaboration.title %></div>
        <%= 'for' %>
        <div class="collab-price"><%= collaboration.total_price %><%= '€' %></div>
        <div class="collab-status"><%= collaboration.status.capitalize %></div>
        <% if collaboration.status == 'pending' %>
          <%= link_to "Accept", project_collaboration_path(@project, collaboration), data: {turbo_method: :patch} %>
          <%= link_to "Decline", root_path  %>
        <% end %>
      </div>
    <% end.empty? %>
      <p>No quotes received yet, see the selection of freelancers below.</p>
    <% end %>
</div>

<div class="freelancers">
  <div class="dashboard-div">
    <h2>Take a look at this Freelancers selection powered by Passengers</h2>
  </div>
  
  <% case @project.score_difficulty %>
  <% when 1 %>
    <% @junior_freelancers.each do |freelancer| %>
      <div class="freelancer-card">
        <div class="firstinfo">
          <%= cl_image_tag freelancer.photo.key, height: 150, width: 150, crop: :fill %>
          <div class="profileinfo">
            <h1>
              <%= freelancer.first_name %>
              <%= freelancer.last_name %>
            </h1>
            <p class="bio"><%= freelancer.description %></p>
            <%= link_to "Contact", chatroom_path(id: 1) %>
          </div>
        </div>
      </div>
      <div class="badgescard">
        <% freelancer.skills.each do |skill|%>
          <% if skill == 'react' %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="40"/>
          <% else %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/<%= skill %>/<%= skill %>-plain.svg" width="40" />
          <% end %>
        <% end %>
      </div>
  <% end %>

  <% when 2 %>
    <% @junior_intermediate_freelancers.each do |freelancer| %>
      <div class="freelancer-card">
        <div class="firstinfo">
          <%= cl_image_tag freelancer.photo.key, height: 150, width: 150, crop: :fill %>
          <div class="profileinfo">
            <h1>
              <%= freelancer.first_name %>
              <%= freelancer.last_name %>
            </h1>
            <p class="bio"><%= freelancer.description %></p>
            <%= link_to "Contact", chatroom_path(id: 1) %>
          </div>
        </div>
      </div>
      <div class="badgescard">
        <% freelancer.skills.each do |skill|%>
          <% if skill == 'react' %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="40"/>
          <% else %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/<%= skill %>/<%= skill %>-plain.svg" width="40" />
          <% end %>
        <% end %>
      </div>
  <% end %>

  <% when 3 %>
    <% @intermediate_freelancers.each do |freelancer| %>
      <div class="freelancer-card">
        <div class="firstinfo">
          <%= cl_image_tag freelancer.photo.key, height: 150, width: 150, crop: :fill %>
          <div class="profileinfo">
            <h1>
              <%= freelancer.first_name %>
              <%= freelancer.last_name %>
            </h1>
            <p class="bio"><%= freelancer.description %></p>
            <%= link_to "Contact", chatroom_path(id: 1) %>
          </div>
        </div>
      </div>
      <div class="badgescard">
        <% freelancer.skills.each do |skill|%>
          <% if skill == 'react' %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="40"/>
          <% else %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/<%= skill %>/<%= skill %>-plain.svg" width="40" />
          <% end %>
        <% end %>
      </div>
  <% end %>

  <% when 4 %>
    <% @senior_freelancers.each do |freelancer| %>
      <div class="freelancer-card">
        <div class="firstinfo">
          <%= cl_image_tag freelancer.photo.key, height: 150, width: 150, crop: :fill %>
          <div class="profileinfo">
            <h1>
              <%= freelancer.first_name %>
              <%= freelancer.last_name %>
            </h1>
            <p class="bio"><%= freelancer.description %></p>
            <%= link_to "Contact", chatroom_path(id: 1) %>
          </div>
        </div>
      </div>
      <div class="badgescard">
        <% freelancer.skills.each do |skill|%>
          <% if skill == 'react' %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" width="40"/>
          <% else %>
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/<%= skill %>/<%= skill %>-plain.svg" width="40" />
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

  

