<div class="cartes">
  <h3>Take a look at this Freelancers selection powered by Passengers</h3>

  <% case @project.score_difficulty %>
  <% when 1 %>
    <% @junior_freelancers.each do |freelancer| %>
      <div class="carte">
        <p><strong><%= freelancer.first_name %> <%= freelancer.last_name %></strong></p>
        <%# ajouter photo %>
        <p><%= freelancer.skills.join(", ") %></p>
        <p><%= freelancer.description %></p>
      </div>
  <% end %>

  <% when 2 %>
    <% @junior_intermediate_freelancers.each do |freelancer| %>
      <div class="carte">
        <p><strong><%= freelancer.first_name %> <%= freelancer.last_name %></strong></p>
        <%# ajouter photo %>
        <p><%= freelancer.skills.join(", ") %></p>
        <p><%= freelancer.description %></p>
      </div>
  <% end %>

  <% when 3 %>
    <% @intermediate_freelancers.each do |freelancer| %>
      <div class="carte">
        <p><strong><%= freelancer.first_name %> <%= freelancer.last_name %></strong></p>
        <%# ajouter photo %>
        <p><%= freelancer.skills.join(", ") %></p>
        <p><%= freelancer.description %></p>
      </div>
  <% end %>

  <% when 4 %>
    <% @senior_freelancers.each do |freelancer| %>
      <div class="carte">
        <p><strong><%= freelancer.first_name %> <%= freelancer.last_name %></strong></p>
        <%# ajouter photo %>
        <p><%= freelancer.skills.join(", ") %></p>
        <p><em><%= freelancer.description %></em></p>
      </div>
    <% end %>
  <% end %>

  <h3>Collaborations</h3>
<div class="cartes">
    <% @collaborations.each do |collaboration| %>
      <div class="carte">
        <%= collaboration.user.first_name %>
        <%= collaboration.user.last_name %>
        <%= collaboration.title %>
        <%= collaboration.total_price %>
        <%= collaboration.status.capitalize %>
        <%= link_to "Accept collaboration", project_collaboration_path(@project, collaboration), data: {status: "accepted", turbo_method: :put} %>
      </div>
    <% end %>
</div>
