<% case @project.website %>
<% when 'E-shop under 10 items' || 'E-shop over 10 items' %>
<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path 'e_shop2.jpg' %>);">
  <div class="project-container">
    <div class="project-title">
      <h1><%= @project.title %></h1>
    </div>
  </div>
</div> 
<% when 'WebApp' %>
<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path 'webapp.jpg' %>);">
  <div class="project-container">
    <div class="project-title">
      <h1><%= @project.title %></h1>
    </div>
  </div>
</div> 
<% else %>
<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path 'simple_web.jpg' %>);">
  <div class="project-container">
    <div class="project-title">
      <h1><%= @project.title %></h1>
    </div>
  </div>
</div> 
<% end %>

<div class="collaborations-customer">
  <div class="dashboard-div">
    <h2>The Project</h3>
  </div>
  <p><%= @project.description %></p>
  <div class="proposed-by">Proposed by <%= @project.user.first_name %></div>

  <div class="centerbouton">
    <div class="bouton-moyen"><%= link_to "Send quote", new_project_collaboration_path(@project) %></div>
    <div class="bouton-moyen"><%= link_to "Contact #{@project.user.first_name}", chatroom_path(@chatroom) %></div>  
  </div>
</div>


