<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="project-container">
    <div class="project-title">
      <h1><%= @project.title %></h1>
    </div>
  </div>
</div> 


<div class="collaborations-customer">
  <div class="dashboard-div">
    <h2>The Project</h3>
  </div>
  <p><%= @project.description %></p>
  <div class="proposed-by">Proposed by <%= @project.user.first_name %></div>

  <div class="centerbouton">
    <div class="bouton-moyen"><%= link_to "Send quote", new_project_collaboration_path(@project) %></div>
    <div class="bouton-moyen"><%= link_to "Contact #{@project.user.first_name}", chatroom_path(@chatroom) %></div>  
  </div>
</div>