<div class="banner-project-form">
  <div class="container">
    <h1>Tell us more about your project!</h1>
  </div>
</div>

<div class="container">
  <div data-controller="display-second-question">
    <%= simple_form_for @project do |f| %>
      <div class="projectchoicebox">
        <h2>First of all is your project an update or a creation of a website?</h2>
        <div class="buttonbox1">
          <div class="changeradio">
            <%= f.input :origin,
                        as: :radio_buttons,
                        collection: ['Creation'],
                        input_html: { data: { action: "click->display-second-question#question"} }%>
            <%= f.input :origin,
                        as: :radio_buttons,
                        collection: ['Update'],
                        label: false, input_html: { data: { action: "click->display-second-question#notQuestion"} } %>
          </div>
        </div>
      </div>

      <div class="d-none" data-display-second-question-target= "display">
        <div class="website-center">
          <h2>Ok you need a brand new website, but what type do you need?</h2>
          <div class="changeradio">
            <div class="flexradio">
              <%= f.input :website,
                          as: :radio_buttons,
                          collection: ['One Page', 'Vitrine', 'E-shop under 10 items', 'E-shop over 10 items', 'WebApp'] %>
            </div>
          </div>

          <div class="new-project-container">
            <div class="describe">
              <h2>Describe your project and your needs in your own words:</h2>
            </div>
            <div class="description">
              <%= f.input :title,
                          required: true %>
              <%= f.input :description,
                          as: :text,
                          required: true %>
            <%= f.button :submit,
                          "Submit your project",
                          class: "bouton-moyen",
                          id: "bouton-moyen-new-project" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
