<div class="project-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="project-container">
    <div class="project-div">
      <div class="dashboard-div"><h1><%= @project.title %></h1></div>
      <p><%= @project.description %></p>
      <div class="proposed-by">Proposed by <%= @project.user.first_name %></div>
    </div>
  </div>
</div>


  <% if current_user.role == "freelancer"  %>
  <%= render "shared/project_freelancer" %>
  <% end %>


  <% if current_user.role == "customer"  %>
  <%= render "shared/project_customer" %>
  <% end %>
