<div class="project-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(<%= asset_path 'pexels-fauxels-3183153.jpg' %>);">
  <div class="project-container">
    <div class="project-title">
      <h1>Send a quote for this project</h1>
    </div>
  </div>
</div>

<div class="quote">
  <h2>Your proposal</h2>
  <div class="form-wrapper" style="width: 400px;">
      <%= simple_form_for [@project, @collaboration] do |f| %>
        <%= f.input   :title,
                      required: true,
                      :label => "Short description of the work process" %>
        <%= f.input   :total_price,
                      required: true,
                      :label => "Quote Total Price (rounded price)" %>
        <%= f.button  :submit, "Send",
                      class: "bouton-moyen" %>
      <% end %>
</div>
</div>
