<%= image_tag('quote.jpg', class: "quote-image") %>

<div class="quote">
  <h2>Send a quote for this project</h2>
  <div class="form-wrapper" style="width: 400px;">
      <%= simple_form_for [@project, @collaboration] do |f| %>
        <%= f.input   :title,
                      required: true,
                      :label => "Short description of the work process" %>
        <%= f.input   :total_price,
                      required: true,
                      :label => "Quote Total Price (rounded price)" %>
        <%= f.button  :submit, "Send",
                      class: "bouton-moyen" %>
      <% end %>

</div>
  <%= link_to "Home page", root_path %>
</div>
